@import "../../../node_modules/material-colors/dist/colors.scss";
@import "../../../node_modules/material-shadows/material-shadows.scss";

:host {
  display: block;
}

button {
  position: relative;
  border: none;
  background-color: $md-blue-grey-200;
  color: $md-blue-grey-800;
  $size: 128px;
  width: $size;
  height: $size;
  line-height: $size;
  @include z-depth-3dp();
  border-radius: 50%;
  font-size: $size * .5;
  text-align: center;
  outline: none;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "Enter";
    text-transform: uppercase;
    $size: 10px;
    height: $size;
    font-size: $size;
    color: rgba($md-blue-grey-900, .36);
    text-align: center;
    bottom: 24px;
    left: 0;
    right: 0;
    line-height: $size;
  }
}